@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  background: #cbd5e1;
  height: 100%;
  width: 100%;
}

@media (width < 915px) {
  .imageContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

@media (width < 610px) {
  .imageContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}
